<%- include("partials/header.ejs")%>

    <body>
        <%- include("partials/navbar.ejs")%>

            <div class="container">
                <hr />
                <h1>
                    <%= pergunta.titulo %>
                </h1>

                <p>
                    <%= pergunta.descricao %>
                </p>
                <hr />

                <form action="/responder" method="POST">
                    <h3 class="tituloListagem">Lista de respostas da pergunta</h3>
                    <hr />

                    <label>Informe sua resposta:</label>
                    <textarea rows="3" name="resposta" placeholder="Insira sua resposta aqui"
                        class="form-control"></textarea>
                        <input type="hidden" name="perguntaID" value="<%=pergunta.id%>">
                    <button type="submit" class="btn btn-success">Responder</button>
                </form>
            </div>

    </body>
    <%- include("partials/footer.ejs")%>